@model WebApplication.Data.Pregnancy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pregnancy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LMD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LMD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PregNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PregNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PregnancyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
