@model IEnumerable<WebApplication.Data.Pregnancy>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_CreateViewPartial.cshtml";
}


    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LMD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PregNo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LMD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PregNo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PregnancyID" type="button" class="btn btn-info">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PregnancyID" type="button" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PregnancyID" type="button" class="btn btn-info">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
