@model IEnumerable<WebApplication.Data.CheckupsDone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CreateViewPartial.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patients)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckupsDoneID" type="button" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheckupsDoneID" type="button" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckupsDoneID" type="button" class="btn btn-info">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
